/* || sass对Unicode的转义有问题
** icons content */

/* // @source - [@Stephn-R](https://github.com/sass/sass/issues/1395#issuecomment-57483844)
// @description converts 1 or more characters into a unicode
// @markup {scss}
// unicode("e655"); // "\e655"
@function unicode($str){
    @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"")
} */

.fa-music::before {
  content: "\f001";
}

.fa-search::before {
  content: "\f002";
}

.fa-heart::before {
  content: "\f004";
}

.fa-star::before {
  content: "\f005";
}

.fa-user::before {
  content: "\f007";
}

.fa-film::before {
  content: "\f008";
}

.fa-th-large::before {
  content: "\f009";
}



.fa-star::before {
  content: "\f005"; }

.fa-star-and-crescent::before {
  content: "\f699"; }

.fa-star-christmas::before {
  content: "\f7d4"; }

.fa-star-exclamation::before {
  content: "\f2f3"; }

.fa-star-half::before {
  content: "\f089"; }

.fa-star-half-alt::before {
  content: "\f5c0"; }

.fa-star-of-david::before {
  content: "\f69a"; }

.fa-star-of-life::before {
  content: "\f621"; }

.fa-stars::before {
  content: "\f762"; }

.fa-ban::before {
  content: "\f05e";
}

.fa-flag::before {
  content: "\f024"; }

.fa-circle::before {
  content: "\f111"; }
